{% extends 'base.html.twig' %}

{% block title %}Hobbies - My Portfolio{% endblock %}

{% block header %}My Hobbies{% endblock %}

{% block body %}
<section id="hobbies" class="my-5">
    <div class="row">
        <div class="col">
            <h2>My Hobbies</h2>
            <div class="card">
                <img src="images/sax.webp" class="card-img-top" alt="saxophone">
                <div class="card-body">
                    <h3 class="card-title">Music</h3>
                    <p class="card-text">I listen to music every day, it allows me to concentrate and put myself in my bubble to work. I used to play the saxophone! </p>
                </div>
            </div>
            <div class="card">
                <img src="images/muscu.webp" class="card-img-top" alt="musculation">
                <div class="card-body">
                    <h3 class="card-title">Sport</h3>
                    <p class="card-text">I like to practice sport like gym or running to clear my head and learn to surpass myself</p>
                </div>
            </div>
            <div class="card">
                <img src="images/jeux.jpg" class="card-img-top" alt="jeux_videos">
                <div class="card-body">
                    <h3 class="card-title">Play Videos Games with friends</h3>
                    <p class="card-text">I love to play videos games sometimes with my friends, it's like a break during the day</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}