{% extends 'base.html.twig' %}

{% block title %}My Portfolio{% endblock %}

{% block header %}My E-Portfolio{% endblock %}
{% block subheader %}Showcasing my skills and projects.{% endblock %}

{% block body %}
<section id="projects" class="my-5">
    <h2>Projects 2024-2025</h2>
    <p>We are working on a local network installation, an analysis of an IUT room and we have to code a program to find out if threats are detected via data from a terminal control</p>
</section>

<section id="skills" class="my-5">
    <h2>Skills</h2>
    <p>I have good skills in HTML coding I know how to make a site with a nice presentation that could please the viewers with technical parts </p>
    <a href="https://docs.google.com/document/d/1S9AvgAU10SHUIsmiQX6iHZqCCjKqxWr99nx5_td-dZY/edit?tab=t.0" class="btn btn-primary" target="_blank">View Proof</a>
    <p>I have good skills in installing and modifying fiber installations</p>
    <a href="https://docs.google.com/document/d/1rYcMQsGWDfjDqUBCadeted5PH_rdG1Wjg-FXrvxQ0hQ/edit?tab=t.0" class="btn btn-primary" target="_blank">View Proof</a>
</section>


<section id="download-link" class="my-5">
    <h2>Download Portfolio Link</h2>
    <a href="lien_google drive.txt" class="btn btn-primary" download>Download the link</a>
    <a href="https://docs.google.com/spreadsheets/d/1U6JWD4OUqOWbzmCG4xeb8gO5b3K8dw25ekaLAPlcu8g/edit?gid=0#gid=0" class="btn btn-primary" target="_blank">View Portfolio</a>
</section>
{% endblock %}