{% extends 'base.html.twig' %}

{% block title %}My Portfolio{% endblock %}

{% block header %}My E-Portfolio{% endblock %}
{% block subheader %}Showcasing my skills and projects.{% endblock %}

{% block body %}
<section id="projects" class="my-5">
    <h2>Projects</h2>
    <p>We are working on a local network installation, an analysis of an IUT room and we have to code a program to find out if threats are detected via data from a terminal control</p>
</section>

<section id="skills" class="my-5">
    <h2>Skills</h2>
    <p>Details about your skills.</p>
</section>

<section id="testimonials" class="my-5">
    <h2>Testimonials</h2>
    <p>Details about testimonials from colleagues or clients.</p>
</section>

<section id="download-link" class="my-5">
    <h2>Download Portfolio Link</h2>
    <a href="lien_google drive.txt" class="btn btn-primary" download>Download TXT</a>
</section>
{% endblock %}